<nav id="mega-menu" class="c-megamenu c-megamenu-sm">
    <div class="c-megamenu-nav">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="c-col--full c-col--full-xs">
                        <div class="c-col--one-fifth">
                            <ul class="c-megamenu__navigation c-megamenu__navigation-sm">
                                <li class="c-megamenu__navigation--list"><a href="javascript:;">News</a></li>
                            </ul>
                        </div>
                        <div class="c-col--one-fifth">
                            <ul class="c-megamenu__navigation c-megamenu__navigation-sm">
                                <li class="c-megamenu__navigation--list"><a href="javascript:;">Sport</a>
                                    <ol class="c-megamenu__navigation--sublist">
                                        <li><a href="javascript:;">News</a></li>
                                        <li><a href="javascript:;">Sports</a></li>
                                        <li><a href="javascript:;">Sunraysia life</a></li>
                                        <li><a href="javascript:;">Opinion</a></li>
                                        <li><a href="javascript:;">Photos</a></li>
                                        <li><a href="javascript:;">Jobs</a></li>
                                    </ol>
                                </li>
                            </ul>
                        </div>
                        <div class="c-col--one-fifth">
                            <ul class="c-megamenu__navigation c-megamenu__navigation-sm">
                                <li class="c-megamenu__navigation--list"><a href="javascript:;">Sunraysia Life</a>
                                    <ol class="c-megamenu__navigation--sublist">
                                        <li><a href="javascript:;">News</a></li>
                                    </ol>
                                </li>
                            </ul>
                        </div>
                        <div class="c-col--one-fifth">
                            <ul class="c-megamenu__navigation c-megamenu__navigation-sm">
                                <li class="c-megamenu__navigation--list"><a href="javascript:;">Opinion</a>
                                    <ol class="c-megamenu__navigation--sublist">
                                        <li><a href="javascript:;">News</a></li>
                                        <li><a href="javascript:;">Sports</a></li>
                                        <li><a href="javascript:;">Sunraysia life</a></li>
                                    </ol>
                                </li>
                            </ul>
                        </div>
                        <div class="c-col--one-fifth">
                            <ul class="c-megamenu__navigation c-megamenu__navigation-sm">
                                <li class="c-megamenu__navigation--list"><a href="javascript:;">Photos</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                
                <div class="col-12">
                    <div class="c-col--full c-col--full-xs">
                        <div class="c-col--one-fifth">
                            <ul class="c-megamenu__navigation c-megamenu__navigation-sm">
                                <li class="c-megamenu__navigation--list"><a href="javascript:;">Classifieds</a></li>
                                <li class="c-megamenu__navigation--list"><a href="javascript:;">Jobs</a></li>
                                <li class="c-megamenu__navigation--list"><a href="javascript:;">Buy & Sell</a></li>
                                <li class="c-megamenu__navigation--list"><a href="javascript:;">Place an ad</a></li>
                                <li class="c-megamenu__navigation--list"><a href="javascript:;">Property</a></li>
                                <li class="c-megamenu__navigation--list"><a href="javascript:;">Auto</a></li>
                            </ul>
                        </div>
                        <div class="c-col--one-fifth">
                            <ul class="c-megamenu__navigation c-megamenu__navigation-sm">
                                <li class="c-megamenu__navigation--list"><a href="javascript:;">Video</a></li>
                            </ul>
                        </div>
                        <div class="c-col--one-fifth">
                            <ul class="c-megamenu__navigation c-megamenu__navigation-sm">
                                <li class="c-megamenu__navigation--list"><a href="javascript:;">Community/Events</a>
                                    <ol class="c-megamenu__navigation--sublist">
                                        <li><a href="javascript:;">Competitions</a></li>
                                        <li><a href="javascript:;">Kids Club</a></li>
                                        <li><a href="javascript:;">Join Kids Club</a></li>
                                        <li><a href="javascript:;">Send Kids Club a letter</a></li>
                                        <li><a href="javascript:;">Kids Club T&C’s</a></li>
                                        <li><a href="javascript:;">Submit a baby photo</a></li>
                                        <li><a href="javascript:;">Submit a party photo Events</a></li>
                                    </ol>
                                </li>
                            </ul>
                        </div>
                        <div class="c-col--one-fifth">
                            <ul class="c-megamenu__navigation c-megamenu__navigation-sm">
                                <li class="c-megamenu__navigation--list"><a href="javascript:;">Feature Publications</a>
                                    <ol class="c-megamenu__navigation--sublist">
                                        <li><a href="javascript:;">News</a></li>
                                        <li><a href="javascript:;">Sports</a></li>
                                        <li><a href="javascript:;">Sunraysia life</a></li>
                                        <li><a href="javascript:;">Opinion</a></li>
                                        <li><a href="javascript:;">Photos</a></li>
                                        <li><a href="javascript:;">Jobs</a></li>
                                    </ol>
                                </li>
                            </ul>
                        </div>
                        <div class="c-col--one-fifth">
                            <ul class="c-megamenu__navigation c-megamenu__navigation-sm">
                                <li class="c-megamenu__navigation--list"><a href="javascript:;">Contact us</a></li>
                                <li class="c-megamenu__navigation--list"><a href="javascript:;">Advertising</a></li>
                                <li class="c-megamenu__navigation--list"><a href="javascript:;">About us</a></li>
                                <li class="c-megamenu__navigation--list"><a href="javascript:;">Contact us</a></li>
                                <li class="c-megamenu__navigation--list"><a href="javascript:;">Photo sales FAQs</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>
