<div class="row c-section-head" data-section="{{number}}">
    <div class="col-12">
        <a id="section-{{number}}" href="{{link}}">
            <div class="c-section-head__title">{{title}}</div>
        </a> 
        <div class="c-section-head__rule"></div>
    </div>
</div>
