{{ set(this, 'title', name) }}
{% set flash = _AppHelper.getFlashMessages() %}

{% set messages = "" %}
{% for error in flash %}
    {% for k,ms in error %}
        {% for m in ms %}
            {% set messages = messages ~ k ~ ": " ~ m %}
        {% endfor %}
    {% endfor %}
{% endfor %}


{% set networkData = _Network.getNetworkData() %}
{% set config      = _Network.getThemeConfig() %}

<div class="container u-margin-top-60">
    
    <div class="row">
        <div class="col-12">

            <div class="c-error u-margin-bottom-60">
                <h1 class="c-error__title">Oops!</h1>
                <p class="c-error__message"> The page you are looking for could net be found.</p>
                <a class="c-error__button u-margin-top-50" href="/">GO HOME </a>
            </div>
        
        </div>



        <div class="col-12 col-md-3">
            {% if config['inventory']['adSpace']['side-fix'][0] is defined %}
                <div class="j-adslot" id="{{config['inventory']['adSpace']['side-fix'][0]}}" data-adshape="side-fix"></div>
            {% endif %}
        </div>
    </div>
</div>
    
