{{ set(this, 'title', name) }}
{% set flash = _AppHelper.getFlashMessages() %}

{% set messages = "" %}
{% for error in flash %}
    {% for k,ms in error %}
        {% for m in ms %}
            {% set messages = messages ~ k ~ ": " ~ m %}
        {% endfor %}
    {% endfor %}
{% endfor %}


{% set networkData = _Network.getNetworkData() %}
{% set config      = _Network.getThemeConfig() %}

<div class="container  u-margin-bottom-60 c-error__toppanel">
    
    <div class="row">
        <div class="col-12">

            <div class="c-error">
                <h1 class="c-error__title">Oops!</h1>
            </div>
        
        </div>
    </div>
</div>
<div class=" c-error__bottompanel">
    <div class="container">
        
        <div class="row">
            <div class="col-12">

                <div class="c-error u-margin-bottom-60">
                    <p class="c-error__message">Sorry, that page does not exist or has been moved. </p>
                    <p class="c-error__messagelow">
                        Please use the menus what you are looking for. <br /><br />
                        For further help, contact <a href="online@sunraysiadaily.com.au">online@sunraysiadaily.com.au</a> 
                    </p>
                </div>
            
            </div>



            
        </div>
    </div>
</div>
    
