{{ set(this, 'title', "Thank You") }}
{% set config       = _Network.getThemeConfig() %}
{% set networkData   = _Network.getNetworkData() %}

<div class="login-page">
    <div class="container">
        <div class="tab-content">
            <div class="row">
                <div class="col-12 col-lg-6">
                    <h1 class="c-myAccount__head u-margin-bottom-40">Success!</h1>
                    <p class="helper-text u-margin-bottom-40">Your password has been successfully set. Log in to get started.</p>
                    
                </div>
                {# <div class="col-9 col-lg-3">
                    {% if config['inventory']['adSpace']['side-fix'][0] is defined %}
                        <div class="j-adslot" id="{{config['inventory']['adSpace']['side-fix'][0]}}" data-adshape="side-fix"></div>
                    {% endif %}
                </div> #}
            </div>
        </div>
    </div>
</div>