{{ set(this, 'title', 'Signup Successful') }}
{% set networkData = _Network.getNetworkData() %}
<main id="main" class="site-main" role="main">
    <div class="container">
        <div class="row u-margin-top-50">
            
            
            <div class="c-thank-you offset-lg-1 col-12 col-md-7">
                <h2 class="c-thank-you__title">Thank you for subscribing.</h2>
                <p class="c-thank-you__text">Visit the 
                    <a href="{{networkData.defaultBlogUrl}}/user/edit-profile"><b>My Account</b></a> 
                    page to update your details.</p>
                <div class="c-thank-you__button">
                    <a class="c-button c-button--blue" href="{{networkData.defaultBlogUrl}}">Start Reading</a>
                </div>
            </div>


        </div>
    </div>
</main>