/* Begin footer style */

.c-footer {
    background-color: $blue;
    padding: 40px 20px 25px 20px;
    color:white;
    
    @media #{$desktop-up} {
        padding: 70px 0 25px 0;

    }


    &__subhead {
        font-weight: $weightBold;
        @include font-size(14);
        margin-bottom: 10px;

        @media #{$desktop-down} {
            padding-top: 25px;
            margin-top: 30px;
            border-top: 1px solid $offwhite;
        }


    }

    &__address {
        margin-bottom: 11px;

        @include font-size(12);

        &--bold {
            font-weight: $weightBold;
        }
    }

    &__email {
        @include font-size(12);
        margin-bottom: 3px;

        &--bold {
            font-weight: $weightBold;
        }
    }

    &__navigation-container {
        @media #{$desktop-up} {
            margin-top: -50px;
        }
    }

    &__navigation {
        display:none;
        @media #{$tablet-up } {
            display:block;
            @include flexbox();
            @include flex-direction(column, vertical);
    
            a {
                color: $white;
                text-transform: uppercase;
                font-weight: $weightBold;
                @include transition(all 0.3s ease);
    
                &:hover,
                &:focus {
                    color: $blue_sh1;
                }
    
                +a {
                    margin-top: 20px;
                }
            }
    
            &.u-border-left {
                padding-left: 26px;
                border-left: 1px solid $white;
               
                @media #{$desktop-down} {
                    &:first-child {
                        padding-left: 15px;
                        border:none;
                    }
                }
            }
        }
    }

    &__logo {

        width: 256px;
        display:block;

        &-text {
            @include font-size(28);
            letter-spacing: 3.73px;
            font-weight: $weightBold;
            color: $white;
            text-transform: uppercase;
        }

        &-tagLine {
            @include font-size(12.8);
            letter-spacing: 2.56px;
            font-weight: $weightMedium;
            color: $white;
            text-transform: uppercase;
        }
    }

    &__bottom {
        border-top: 1px solid $offwhite;

        // @include flexbox();
        // @include flex-direction(column, vertical);
        // @include justify-content(flex-start);
        // @include align-items(flex-start);
        color: $white;
        @include font-size(11);
        margin-top: 50px;
        padding-top:15px;

    }
    &__copyright {
        display: inline-block;
    }
    &__links {
        float:right;
    }
    &__link {

        color:$white;
        &:after {
            content:"";
            position:relative;
            top:2px;
            display:inline-block;
            margin: 0 7px;
            height:10px;
            width:1px;
            background:white;
        }
        &:last-child {
            &:after {
                display:none;
            }
        }
    }


}

/* End footer style */