@mixin card-3-base() {
    @include card-name("C3 mobile");
    margin-left: -20px;
    margin-right: -20px;
    .c-cards-view {
        @include flex-direction(column, vertical);

        &__media {

            // &--video {
            //     &:before {
            //         @include size(55px);
            //     }
            // }
        }

        &__container {
            padding: 0 25px 30px 25px;
        }

        &__category {
            margin-top: 30px;
            margin-bottom: 11px;
        }

        &__heading {
            @include flex-height(53px);
            @include font-size(20);
        }
        &__description {
            margin-top: 5px;
            @include flex-height(40px);
        }

        &__time {
            margin-top: 13px;
        }

        &.video {
            .c-cards-view__media .video-icon {
                @include size(40px);
            }
        }

        &.without-image {
            .c-cards-view__container {
                width: 100%;
                margin-left: 0px;
                padding: 0px 20px 0;
            }

            .c-cards-view__description {
                margin-bottom: 15px;
                display: block;
                max-height: 90px;
                overflow: hidden;
            }
        }

        &.social {

            .social-icon {
                @include size(30px);

                &:before {
                    @include font-size(13);
                    line-height: 32px;
                }
            }

            &.without-image {
                .c-cards-view__container {
                    padding-top: 40px;
                }
            }
        }

    }
}



.card-3-mobile {
    @media #{$mobile} {
        @include card-3-base();
    }
}


@mixin card-3-tablet-base() {
    @include card-3-base();

    margin-left: 0;
    margin-right: 0;

    .c-cards-view {
        @include flex-direction(row, horizontal);
        height: 247px;

        &__media {
            @include flex-width(300px);
            img {
                height:100%;
            }
        }

        &__category {
            margin-bottom: 26px;
        }
        &__description {
            margin-top: 20px;
        }
        &__time {
            margin-top: 20px;
        }
    }
}

.card-3-tablet {
    @media #{$tablet} {
        @include card-3-tablet-base();
        @include card-name("C3 tablet");
    }
}


.card-3-desktop {
    @media #{$desktop} {
        @include card-3-tablet-base();
        @include card-name("C3 desktop");

        // .c-cards-view {
        //     @include flex-direction(row, horizontal);
        //     height: 290px;
    
        //     &__media {
        //         @include flex-width(400px);
        //     }
        //     &__container {
        //         padding-left: 25px;
        //     }

        //     &__category {
        //         margin-bottom: 26px;
        //     }

        //     &__heading {
        //         @include flex-height(93px);
        //         @include font-size(22);
        //         line-height:1.36;

        //     }


        //     &__description {
        //         margin-top: 5px;
        //         @include flex-height(61px);
        //     }
        //     &__time {
        //         margin-top: 20px;
        //     }
        // }
    }
}




.card-3-desktop-lg {
    @media #{$desktop-lg} {
        @include card-3-tablet-base();
        @include card-name("C3 desktop lg");

        .c-cards-view {
            @include flex-direction(row, horizontal);
            height: 290px;
    
            &__media {
                @include flex-width(550px);
            }
            &__container {
                padding-left: 48px;
            }

            &__category {
                margin-bottom: 26px;
            }

            &__heading {
                @include flex-height(93px);
                @include font-size(22);
                line-height:1.36;

            }


            &__description {
                margin-top: 5px;
                @include flex-height(61px);
            }
            &__time {
                margin-top: 20px;
            }
        }
    }
}
