@mixin card-4-base() {
    @include card-name("C4 mobile");
    margin-left: -20px;
    margin-right: -20px;

    .c-cards-view {
        
        @include flex-direction(column, vertical);
        
        align-items: stretch;


        &__media {
            // @include flex-height(290px);
            img {
                max-height: 420px;
            }
            &--video {
                &:before {
                    @include size(55px);
                }
            }
        }

        &__container {
            padding: 0 25px 30px 25px;
            text-align:left;
            height: inherit;
        }
        &__category {
            margin-top:16px;
            margin-bottom:12px;
        }

        &__heading {
            @include font-size(24);
            @include flex-height(61px);
        }

        &__description {
            margin-top:5px;
            @include flex-height(39px);
        }

        &__author {
            margin-top: 18px;
        }
        &__time {
            font-weight: $weightMedium;
        }



        &.social {
            .social-icon {
                @include size(30px);

                &:before {
                    @include font-size(13);
                    line-height: 32px;
                }
            }

            &.without-image {
                .card {
                    &__container {
                        @include calc(width, '100% - 30px');
                        margin-left: 30px;
                        padding: 0 20px;
                        margin: 15px 0;
                        height: inherit;
                    }
                }
            }
        }


        &.without-image {
            .c-cards-view {

                &__container {
                    width: 100%;
                    margin-left: 0;
                    padding: 30px 25px 30px 25px;
                    height: inherit;
                }
                &__category {
                    margin-top:0;
                    margin-bottom:50px;
                }
                &__heading {
                    margin-bottom:30px;
                    @include flex-height(76px);
                }
                &__description {
                    @include font-size(15);
                    line-height:1.6;
                    @include flex-height(225px);
                    margin-bottom: 27px;
                }
                &__author {
                    margin-top: 0;
                }
        
            }
        }
    }
}

.card-4-mobile {
    @media #{$mobile} {
        @include card-4-base();
    }
}

@mixin card-4-tablet-base() {

    @include card-4-base();
    margin-left: 0;
    margin-right: 0;

    .c-cards-view {
        height: 490px;

        &__media {
            @include flex-height(290px);
            &--video {
                &:before {
                    @include size(45px);
                }
            }
            
            img {
                height: 100%;
            }
        }

        &__container {
            margin: 0;
            padding: 0 55px 0 30px;
        }

        &__category {
            margin-top:17px;
            margin-bottom:8px;
        }


        &__heading {
            @include font-size(30);
            @include flex-height(76px);
            
        }


        &__description {
            max-height: 40px;
            margin-top:0;
        }

        &__author {
            margin-top:10px;
        }


    //     &__heading {
    //         @include font-size(22);
    //         @include flex-height(70px);
    //     }


    //     &.social {
    //         .social-icon {
    //             @include size(50px);

    //             &:before {
    //                 @include font-size(22);
    //                 line-height: 52px;
    //             }
    //         }

    //         &.without-image {
    //             .c-cards-view {
    //                 &__container {
    //                     @include calc(width, '100% - 50px');
    //                     margin-left: 50px;
    //                 }
    //             }
    //         }
    //     }

    //     &.without-image {

    //         .c-cards-view {

    //             &__description {
    //                 @include font-size(13);
    //                 @include flex-height(42px);
    //                 display:block;
    //                 margin-top:10px;
    //             }
    //             &__author-name {
    //                 font-style:normal;
    //                 font-family: $font-family-sans-serif;
    //                 font-weight: $weightMedium;
    //             }
    //         }
    //     }
    }
}

.card-4-tablet {
    @media #{$tablet} {
        @include card-4-tablet-base();
        @include card-name("C4 tablet");
    }
}

.card-4-desktop {
    @media #{$desktop-up} {
        @include card-4-tablet-base();
        @include card-name("C4 desktop");

        .c-cards-view {
            &__container {
                margin: 0;
            }
        }
    }
}
