@mixin card-9-base() {
    @include card-name("C5 mobile");
    margin-left: -20px;
    margin-right: -20px;

    .c-cards-view {
        box-shadow:none;

        // height: 490px;


        @include flex-direction(column, vertical);
        @include justify-content(center);
        align-items: stretch;


        &__media {
            // @include flex-height(290px);
            width:100%;
            &--video {
                &:before {
                    @include size(55px);
                }
            }
        }

        &__container {
            text-align:left;
            padding: 0 30px 25px 35px;
            height: 100%;
            background:white;
            
        }
        &__category {
            margin-top:16px;
            margin-bottom:12px;

        }

        &__heading {
            @include font-size(24);
            @include flex-height(61px);
        }

        &__description {
            margin-top:5px;
            @include flex-height(39px);
        }

        &__author {
            display:none;
        }

    }
}

.card-9-mobile {
    @media #{$mobile} {
        @include card-9-base();
    }
}

@mixin card-9-tablet-base() {

    @include card-9-base();
    margin-left: 0;
    margin-right: 0;

    .c-cards-view {

        // height: 650px;

        &__media {
            @include flex-height(400px);
            &--video {
                &:before {
                    @include size(45px);
                }
            }
            
            img {
                height: 100%;
            }
        }

        &__container {
            padding: 0 30px 25px 35px;
            margin: 0;
        }

        &__category {
            margin-top:40px;
            margin-bottom:8px;
        }


        &__heading {
            @include font-size(30);
            @include flex-height(40px);
            
        }


        &__description {
            @include font-size(13);
            max-height: 40px;
            margin-top:0;
        }

    }
}

.card-9-tablet {
    @media #{$tablet} {
        @include card-9-tablet-base();
        @include card-name("C5 tablet");
    }
}


@mixin card-9-desktop-base() {

    @include card-9-tablet-base();
    .c-cards-view {

        @include flex-direction(row, horizontal);
        @include justify-content(center);



        &__photo-wrapper {
            height:100%;
            max-width:960px;
            padding-right: 15px;
            padding-left: 15px;
            margin-right: auto;
            margin-left: auto;
            width:100%;
            position:absolute;
        }



        &__container {
            width:368px;
            position:absolute;
            text-align:center;
            padding: 0 81px 25px 81px;
            margin: 0;
        }
    }
}


.card-9-desktop {
    @media #{$desktop} {
        @include card-9-desktop-base();
        @include card-name("c9 desktop");
    }
}


.card-9-desktop-lg {
    @media #{$desktop-lg} {
        @include card-9-desktop-base();
        @include card-name("c9 desktop");
        .c-cards-view {

            &__photo-wrapper {
                max-width:1300px;
            }
        }
    }
}
