{% set articleCount = 0 %}
{% set cardIndex = 0 %}


{# {{this.render('../_section-header.twig', {
    number: "07",
    title: title,
    link: link,
}) | raw }} #}




<div class="u-margin-top-100">
        
        
        {{this.render('../_single-article.twig', {
            article: articles[articleCount], 
            position: (articleCount+1),
            imageSize: {width: 1500, height: 650},
            template: "photosales",
            gallery: true,
            containerClass: "card-9-mobile card-9-tablet card-9-desktop card-9-desktop-lg"
        }) | raw}}
        {% set articleCount = (dev) ? articleCount : articleCount + 1 %}

</div>







