.advertisment {
    width: max-content;
    margin: auto;
}

.advertisment__head {
    margin-top:30px;
}

.advertisment__banner {

}

.advertisment__mrec {
    &-1,&-2,&-3,&-4{
        margin-bottom: 30px;
        width: 100%;
    }
}

.advertisment__hpage {
    
}

.advertisment__side-fix {
    
}

.advertisment__base-fix {
    
}

.advertisment__desktop {
    
}

.advertisment__tablet {
    
}

.advertisment__mobile {
    
}
