.article-gallery {

    &__image {
        position:relative;
        margin: 0;
        @media #{$mobile} {
            height:50vw;
            margin-bottom: 25px;
        }
        
        @media #{$tablet-up} {
            height:400px;
        }
    }


    &__img-container-article {
        height:100%;
    }


    &__img {
        max-width: 100%;
        margin:auto;
        display: block;
        width:auto !important;
        height:100%;
        object-fit: cover;
    }


    &__img-container {
        background-color: $greyish;
        @media #{$tablet}{
            height: 400px;
        }
        @media #{$mobile}{
            height: 250px;
        }
    }


    &__caption {

        margin-top: 10px;

        @media #{$media-ipadSmall} {
            float: left;
            margin-bottom: 30px;
        }
        
        > p {
            @include font-size(11);
            color: $greyish;
            font-style: italic;
            line-height: 1.36;
            font-family: $base-font-family;
            float: left;
            margin-bottom: 20px;
            width: 100%;
            @media #{$mobile}{
                margin-bottom: 15px;
            }
        }
    }

    &__category {
        margin-top:10px;
        @include font-size(11);
        font-weight: $weightMedium;
        text-transform:uppercase;
    }
    &__title {
        margin-top:7px;
        @include font-size(28);
        font-weight: $weightBold;
        float:left;
    }
    &__date {
        @include font-size(11);
        font-weight: $weightRegular;
        font-style: italic;
        float:right;
        margin-top: 22px;
    }

    &__single {
        >.article-gallery__image-article{
            >.external-article-video {
                max-width: 915px;
            }
        }
    }
    &__thumbs {
        max-height:515px;
        @include flexbox();
        @include flex-direction(column, vertical);
        overflow-x: hidden;
        overflow-y: scroll;
        // white-space:nowrap;
        .owl-thumb-item {
            margin-bottom:12px;
            object-fit: cover;
            height: 120px;
            &.active {
                border:4px solid #B9B9B9;
            }
        }
    }
}