.purchase {
    display: flex;
    border-bottom: 1px solid $grey_sh1;
    padding: 13px 0;
    align-items: center;

    &__image {
        margin-right: 30px;
    }

    &__caption {
        padding-right: 70px;
        max-height: 48px;
        min-width:560px;
        max-width:560px;
        overflow:hidden;
        @media #{$desktop} {
            min-width: 320px;
            max-width: 320px;
        }


        @media #{$tablet} {
            min-width: 420px;
            max-width: 420px;
        }
        @media #{$mobile} {
            min-width: 270px;
            max-width: 270px;
        }

    }

    &__filesize {
        min-width:70px;
        flex-shrink: 0;
        // background:pink;
    }

    &__download {
        min-width:70px;

        flex-shrink: 0;
        // background:yellow;
        >span {
            float:right;   
        }
    }
}