.c-error {

    // background-color: $offwhite;
    text-align: center;
    height: 550px;
    padding-top:60px;

    &__title {
        color: $black;
        @include font-size(36);
        font-weight: $weightRegular;

        // @media #{$tablet} {
        //     @include font-size(27);
        // }
    }

    &__message {
        @include font-size(21);
        width:345px;
        margin:auto;
        margin-top: 23px;
        font-weight: $weightLight;

        // @media #{$tablet} {
        //     @include font-size(17);
        //     width:245px;
        // }


    }
    &__button {
        display:block;
        color:$greyish;
        @include font-size(13);
    }

    &__arrow {
        display:inline-block;
        background-image: url("../icons/side-arrow.svg");
        background-repeat:no-repeat;
        background-size:contain;
        width:20px;
        height: 8px;
        margin-left: 5px;
    }


}