.c-myAccount {
    padding-right:0;
    
   
    
    &__head, &__subhead {
        line-height:1.3;
        font-weight:$weightBold;
        @include margin-bottom(30);
    }
    &__head {
        color:$greyish;
        @include font-size(30);
        @include margin-bottom(20);
        font-weight: $weightLight;
        padding-bottom: 10px;
        border-bottom: 1px solid rgba( $greyish, 0.5);
    }
    &__subhead {
        color:$greyish;
        @include font-size(15);
        @include margin-bottom(20);
    }
    &__text {
        color:$greyish;
        @include font-size(14);
        line-height:1.6;
        @include margin-bottom(20);
        font-family:$weightRegular!important;
    }
    
    &__AddUsers {
        @include flexbox;
        position:relative;
        margin-bottom:30px;
        @include align-items(center);
        @include align-content(flex-start);
        @include justify-content(space-between);
        @include flex-direction(row, horizontal);
        
        .c-myAccount__subhead {
            margin-bottom:0;
        }
        
    }

    &__user-counts {
        @include font-size(13);
        top:-3px;
        right:0px;
        position:absolute;
    }

    
    &__note-credit-card {
        @include font-size(15);
        font-weight: 500;
        color:black;
        margin-bottom: 10px;
    }
    &__note-faq {
        @include font-size(12);
        font-style: italic;
        line-height: 1.33;
        color: #595859;
      
    }
    
    &__Search {
        width:100%;
        position:relative;
        
        .account-form__input-text {
            color:$greyish;
            @include font-size(17);
            line-height:1.5;
            font-style:italic;
            padding-right:30px;
            font-weight:$weightLight;
            border:0px none!important;
            border-bottom:1px solid $border!important;
            @include border-radius(0 0 0 0!important);
            @include box-shadow(none!important);
            
            &:focus {
                border-bottom:1px solid $blue!important;
            }
        }
        
        &__btn {
            top:0;
            right:0;
            cursor:pointer;
            border:0px none;
            position:absolute;
            @include size(44px);
            background-color:transparent;
            background-image:url('../icons/search.svg');
            background-position:center center;
            background-repeat:no-repeat;
            background-size:18px auto;
        }
        
        &__Results {
            left:0;
            right:0;
            top:0;
            width:100%;
            position:relative;
            
            ul {
                margin:0;
                padding:0;
                list-style:none;
                @include padding-top(14);
                background-color:$white;
            }
        }
        
            

    }
}