.c-upload-image {
    float:left;
    height:43px;
    width:100%;

    cursor:pointer;
    position:relative;
    text-align:center;
    border: 1px solid $darkergrey;
    
    &__label {
        color:$red_sh1;
        @include font-size(12);
        font-weight: $weightBold;
        padding:0;
        margin:0;
        letter-spacing:normal;
        line-height:43px;

    }

    &__restrictions {
        @include font-size(13);
        font-weight: $weightRegular;
        font-style:italic;
        padding:0;
        margin:0;
        letter-spacing:normal;
    }


    &.property {
        > div {
            padding-top: 30%;
                > div > p {
                padding-top: 5px;
            }

        }



    }
    &.events {
        > div {
            padding-top: 20%;
                > div > p {
                padding-top: 5px;
            }

        }
    }

}