.c-eventdetail {
    &__media {
        @include margin-bottom(30);
        height:376px;
        img {
            height:100%;
        }

        @media #{$mobile} {
            height:278px;
            margin-left: -15px;
            margin-right: -15px;

        }
    }

    &__category {
        color: $blue;
        font-weight: $weightRegular;
        @include font-size(11);
        letter-spacing: 0.87px;
        line-height: 1.25;
        text-transform: uppercase;
        @include margin-bottom(8);
    }

    &__title {
        color: $black;
        font-family: $primaryFont;
        @include font-size(30);
        line-height: 1.14;
        font-weight: $weightBold;
        @include margin-bottom(20);
        letter-spacing: normal;
    }



    &__info-item {
        padding-left: 15px;
        border-left: 1px solid $offwhite;
        @include flexbox();
        @include align-items(center);
        word-wrap: anywhere;
    }


    &__info-icon {
        background-size: contain;
        background-repeat: no-repeat;
        float:left;

        &--calandar {
            height: 23px;
            width: 24px;
            background-image: url('../icons/calendar.svg');
        }
        &--time {
            height: 22px;
            width: 22px;
            background-image: url('../icons/clock.svg');
        }
        &--location {
            height: 27px;
            width: 19px;
            background-image: url('../icons/location.svg');
        }
        &--contact {
            height: 16px;
            width: 24px;
            background-image: url('../icons/email.svg');
        }


    }

    &__info-text {
        margin-left:17px;
        @include font-size(14);

    }

    &__excerpt {
        color: rgba(0, 0, 0, 0.7);
        font-family: $primaryFont;
        @include font-size(15);
        line-height: 1.6;
        font-weight: $weightUltabold;
        @include margin-bottom(18);
        letter-spacing: 0.8px;
    }

    &__content {
        p {
            color: $greyish;
            font-family: $primaryFont;
            @include font-size(17);
            line-height: 1.6;
            font-weight: $weightRegular;
            letter-spacing: 0.5px;
            margin-bottom: 20px;
            word-wrap: break-word;
        }
    }

    &__map {
        @include margin-top(40);
    }
}
