.c-paywall-header{
    position: absolute;
    display: block;
    text-align: center;
    width: 100%;
    z-index: 5;
    @media #{$mobile}{
        margin-left: -15px;
    }
    &__title {
        @include font-size(40);
        font-weight: $weightBold;
        color: $white;
        text-align:center;
    }

    &__subtitle {
        @include font-size(32);
        font-weight:$weightLight;
        text-align:center;
        color: $white;
        margin-top:5px;
    }
}