.c-login-modal {

    &__title {
        @include font-size(22);
        text-align:left;
        font-weight: $weightRegular;
        margin-bottom:28px;

    }

    &__input {
        @include font-size(13);
        line-height: 30px;
        padding-bottom: 5px;
        padding-top: 5px;
    }

    &__password-link {
        @include font-size(11);
        color:$greyish;
        font-style:italic;
        text-align: right;
        display: block;
        margin-top: 7px;
    }

    &__subaction {
        @include font-size(11);
        margin-top:15px;

    }

}

a.c-login-modal__password-link {
    text-decoration: underline;
}
