.c-header {

    @media #{$tablet} {
        background:yellow;
    }
    @media #{$mobile} {
        background:green;
    }
    border-bottom: 1px solid $grey;



    &__username {
        @include font-size(14);
        font-weight: $weightMedium;
        color: $greyish;

        &:after {
            content: "";
            width: 14px;
            height:7px;
            display:block;
            float: right;
            margin-top: 5px;
            margin-left: 10px;
            background-repeat: no-repeat;
            background-size:contain;
            background-image: url('../icons/arrow.svg');
    
        }
    }

    &__container {
          
        display: flex;
        @include flex-direction(row, horizontal);
        @include flex-height(120px);
        @include align-items(center);


        &--fixed {
            position: fixed;
            @include flex-height(70px);
            top: -70px;
            z-index: 10000;
            background: white;
            @include transition(all 0.5s ease 0s);

            &.active {
                top:0;
            }

        }
    }

    &__date {
        @include font-size(15);
        margin: auto;
        width: 160px;
    }

    &__weather-info {
        margin: 15px 0;
        @include flexbox();
        @include flex-direction(row, horizontal);

        @media #{$desktop-down} {
            display:none;
        }

    }

    &__logo-container {
        position: absolute;
        width: 380px;
        left: 50%;
        transform: translateX(-190px);
    }

    &__logo {
        display: block;
    }

    &__login-buttons-tablet {
        @include flexbox();
        @include flex-direction(row, horizontal);
        @include align-items(flex-end);
        @include justify-content(flex-end);
        @media #{$desktop_up} {
            display:none;
        }

    }


    &__login-buttons-desktop {
        @include flexbox();
        @include flex-direction(row, horizontal);
        @include align-items(flex-end);
        @include justify-content(flex-end);
        margin-left:auto;
        
        @media #{$desktop-down} {
            display:none;
        }

    }

    &__login-buttons {

        @include flexbox();
        @include flex-direction(row, horizontal);
        @include align-items(flex-end);
        @include justify-content(flex-end);
        margin-left:auto;
        
        @media #{$desktop-up} {
            display:none;
        }
    }

}