.c-obit-section{
    &__background{
        position: relative;
        padding: 60px 0;
        
        
        @media #{$mobile}{
            margin-top: -20px;
        }
        @media #{$tablet-up}{
            margin-top: -30px;
            &:before{
                content: '';
                width: 72px;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                background-image: url('../images/leaves.png');
                background-repeat: repeat-y;
                transform: scaleX(-1);
            }
            &:after{
                content: '';
                width: 72px;
                height: 100%;
                position: absolute;
                top: 0;
                right: 0;
                background-image: url('../images/leaves.png');
                background-repeat: repeat-y;
                z-index: -1;
            }
        }
        @media #{$desktop-up}{
            margin-top: -50px;
            &:before{
                width: 203px;
            }
            &:after{
                width: 203px;
            }
        }
        &--wide{
            @media #{$desktop-xl}{
                
                &:before{
                    width: 25%;
                    background-image: url('../images/wideleaves.png');
                    background-size: 100%;
                }
                &:after{
                    width: 25%;
                    background-image: url('../images/wideleaves.png');
                    background-size: 100%;
                }
            }
        }
    }

    


    &__header{
        @include font-size(28);
        font-family: $font-family-alt-serif;
        border-bottom: 1px solid $greyish;
        font-weight: $weightBold;
        color: $green;
        text-transform:uppercase;
        padding-bottom: 6px;
        margin-bottom: 25px;
        position:relative;
        @media #{$tablet-up}{
            @include font-size(32);
        }
        // @media #{$desktop-up}{
        //     @include font-size(32);
        // }
    }

    &__contact{
        @include font-size(12);
        line-height: 1.17;
        color: $grey-text;
        float: right;
        >a{
            color: $grey-text;
            &:hover{
                color: $black;
            }
        }

    }

    &__mrec{
        @media #{$tablet-up}{
            margin-left: calc(50% - 150px);
        }
    }

    &__infohead{
        @include font-size(22);
        font-family: $font-family-alt-serif;
        color: $grey-text;
        font-style: italic;
        @media #{$tablet}{
            
        }
        @media #{$desktop-up}{
            
        }
    }

    &__infotext{
        @include font-size(16);
        font-family: $font-family-alt-serif;
        color: $grey-text;
        @media #{$tablet}{
            
        }
        @media #{$desktop-up}{
            
        }
    }

    &__infobutton{
        padding: 10px 21px;
        @include font-size(14);
        color: $white;
        background-color: $green;
        width: max-content;
        text-transform: uppercase;
        &:hover{
            padding: 9px 20px;
            color: $grey-text;
            background-color: $white;
            border: 1px solid $green;

        }
        @media #{$tablet}{
            
        }
        @media #{$desktop-up}{
            
        }
    }

    &__infoimage{
        @media #{$tablet-up}{
            position: absolute;
            bottom: 3px;
            width: calc(100% - 30px);
        }
        
    }

    
}