.advertisment {
    width: max-content;
    margin: auto;


    &__head {
        margin-top:30px;
    }

    &__banner {
        &-1,&-2,&-3,&-4,&-5{
            margin-top: 30px;
        }
    }

    &__mrec {
        &-1,&-2,&-3,&-4{
            margin-bottom: 30px;
            width: 100%;
        }
    }

    &__skycontainer{
        position: relative;
        height: 1px;
        width: 100%;
    }

    &__skyscraper{
        display: none;
        @media #{$desktop-xl}{
            display: block;
            width: 160px;
            height: 600px;
            transition: position 5s ease-in;
            &--left{
                left: calc((100vw - 1620px) / 4); 
            }
            &--right{
                right: calc((100vw - 1620px) / 4);
            
            }
            &--absolute{
                position: absolute;
                top: 40px;
            }
            &--fixed{
                position: fixed;
                top: 200px;
            }
        }
    }

    &__hpage {
        
    }

    &__side-fix {
        
    }

    &__base-fix {
        
    }

    &__desktop {
        
    }

    &__tablet {
        
    }

    &__mobile {
        
    }
}