.advertisment {
    width: min-content;
    margin: auto;
}

.advertisment__head {
    margin-top:30px;
}

.advertisment__banner {

}

.advertisment__mrec {
    margin-bottom: 30px;
}

.advertisment__hpage {
    
}

.advertisment__side-fix {
    
}

.advertisment__base-fix {
    
}

.advertisment__desktop {
    
}

.advertisment__tablet {
    
}

.advertisment__mobile {
    
}
