.c-header {

    @media #{$tablet} {
        // background:yellow;
    }
    @media #{$mobile} {
        // background:green;
    }
    border-bottom: 1px solid $grey;



    &__username {
        @include font-size(14);
        font-weight: $weightMedium;
        color: $greyish;

        &:after {
            content: "";
            width: 14px;
            height:7px;
            display:block;
            float: right;
            margin-top: 5px;
            margin-left: 10px;
            background-repeat: no-repeat;
            background-size:contain;
            background-image: url('../icons/arrow.svg');
        }

        &-mobile {
            @include font-size(14);
            font-weight: $weightMedium;
            color: $white;
            float:right;
            line-height: 36px;
            margin-right:20px;
            &:hover {
                color:$blue_sh1;
            }
            &:after {
                content: "";
                border: solid $white;
                border-width: 0 1px 1px 0;
                border-color:inherit;
                display: inline-block;
                padding: 4px;
                transform: rotate(45deg);
                -webkit-transform: rotate(45deg);
                margin-left: 10px;
                margin-bottom:2px;

                &:hover {
                    border-color: $blue_sh1;
                }
            }
    
        }

    }

    &__container {
          
        display: flex;
        @include flex-direction(row, horizontal);
        @include flex-height(120px);
        @include align-items(center);

        @media #{$desktop-down} {
            @include flex-height(112px);
        }

        @media #{$mobile} {
            @include flex-height(65px);
        }       

        &.active {
            @include flex-height(68px);
        }



        &--fixed {
            position: fixed;
            width:100%;
            @include flex-height(113px);
            top: -165px;
            z-index: 10000;
            background: white;
            @include transition(all 0.5s ease 0s);
            border-bottom: 1px solid $offwhite;
            &.active {
                top:0;
            }
            @media #{$desktop-down} {
                display:none;
            }       
        }
    }


    &__date {
        @include font-size(15);
        margin: auto;
        text-align:center;

        @media #{$mobile} {
            display:none;
        }


    }

    &__weather-info {
        margin: 15px 0;
        @include flexbox();
        @include flex-direction(row, horizontal);

        @media #{$desktop-down} {
            display:none;
        }

    }

    &__logo-container {
        position: absolute;
        width: 380px;
        left: 50%;
        transform: translateX(-190px);

        &--fixed {
            height: 41px;
            width: 270px;
            transform: translateX(-135px);
        }


        @media #{$desktop-down} {
            height: auto;
            width: 270px;
            transform: translateX(-135px);
        }
        @media #{$mobile} {
            transform:none;
            position:relative;
            left:0;
            order:1;
        }

    }

    &__logo {
        display: block;
    }

    &__login-buttons-tablet {
        @include flexbox();
        @include flex-direction(row, horizontal);
        @include align-items(flex-end);
        @include justify-content(flex-end);
        @media #{$desktop_down} {
            display:none;
        }

    }


    &__login-buttons-desktop {
        @include flexbox();
        @include flex-direction(row, horizontal);
        @include align-items(flex-end);
        @include justify-content(flex-end);
        margin-left:auto;
        
        @media #{$desktop-down} {
            display:none;
        }
    }

    &__login-buttons {

        @include flexbox();
        @include flex-direction(row, horizontal);
        @include align-items(flex-end);
        @include justify-content(flex-end);
        @include font-size(12);
        position:relative;
        color:$blue;
        font-weight: $weightMedium;
        margin-left:auto;
        
        > a {
            color:$blue;
            &:last-child {

                &:before {
                    content: "";
                    margin-right:6px;
                    display:inline-block;
                    height:11px;
                    width:1px;
                    background-color:$blue;
                    position:relative;
                    top:2px;
                }
            }
        }

        @media #{$desktop-up} {
            display:none;
        }
        @media #{$mobile} {
            display:none;
        }
    }

    &__mobile-login-buttons {
        background-color: $blue;
        min-height:36px; 
    }

    &__mobile-logins {
        float:right;
        margin-right:20px;
    }
    &__mobile-login {
        @include font-size(12);
        color:$offwhite;
        line-height: 36px;
    }
    &__mobile-subscribe {
        @include font-size(12);
        color:$offwhite;
        line-height: 36px;
    }


    &__mobile-date {
        color:white;
        @include font-size(14);
        font-weight: $weightMedium;
        line-height:36px;
        padding-left:25px;
        float:left;
    }

}