.c-error {

    // background-color: $offwhite;
    text-align: center;
    height: 550px;
    padding-top:60px;

    &__title {
        color: $blue_sh1;
        @include font-size(60);
        font-weight: $weightBold;
        text-align: center;
        // @media #{$tablet} {
        //     @include font-size(27);
        // }
    }
    &__toppanel{
        height: 128px;
    }
    &__bottompanel{
        height: 500px;
        background-color:  $offwhite;
    }

    &__message {
        @include font-size(21);
        margin:auto;
        margin-top: 50px;
        margin-bottom: 25px;
        font-weight: $weightMedium;
        color: $black;
        text-align: center;
        // @media #{$tablet} {
        //     @include font-size(17);
        //     width:245px;
        // }


    }
    &__messagelow{
        font-size: rem(18);
        line-height: 1.67;
        text-align: center;
        color: $greyish;
        text-decoration: none;
    }
    &__button {
        display:block;
        color:$greyish;
        @include font-size(13);
    }

    &__arrow {
        display:inline-block;
        background-image: url("../icons/side-arrow.svg");
        background-repeat:no-repeat;
        background-size:contain;
        width:20px;
        height: 8px;
        margin-left: 5px;
    }


}