.c-upload-image {
    display:block;
    height:43px;
    width:100%;
    @include font-size(11);
    line-height:43px;
    cursor:pointer;
    position:relative;
    text-align:center;
    border: 1px solid $darkergrey;
    color: $red_sh1;
    font-weight: $weightBold;
}