{% set link = _Blog.getHomeBlogSettings() %}
{% set footerMenu = _Menu.get({'menuType': 'footer', 'menuGroupName': 'default'}) %}

<footer class="c-footer c-footer-sm">
    <div class="container">

        <div class="c-footer__container">
            <div class="row">
                <div class="col-12 col-md-5">
                    <a href="javascript:;" class="c-footer__logo u-tablet-margin-bottom-20 u-desktop-margin-bottom-20">
                        <img src="{{networkData.templatePath}}/static/images/logo-white.png" alt="Sunraysia Daily">
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-lg-5 order-lg-1 order-md-2 c-footer__contact">
                    <p class="c-footer__subhead">GET IN TOUCH</p>
                    <p class="c-footer__address">22 Deaking Avenue, Mildura VIC 3500</p>
                    <p class="c-footer__address">PO Box 1400, Mildura Vic 3502</p>
                    <p class="c-footer__address"><span class="c-footer__address--bold">Telephone</span> 03 5023 0211</p>
                    <p class="c-footer__email"><span class="c-footer__email--bold">Editorial</span> news@sunrasiadaily.com.au</p>
                    <p class="c-footer__email"><span class="c-footer__email--bold">Advertising</span> adbookings@sunrasiadaily.com.au</p>
                    <p class="c-footer__email"><span class="c-footer__email--bold">Admin</span> admin@sunrasiadaily.com.au</p>
                </div>


                <div class="col-12 col-lg-7 c-footer__navigation-container order-lg-2 order-md-1 d-sm-none d-md-block">
                    <div class="row">
                        <div class="col-12 col-md-4 c-footer__navigation u-border-left">
                            {% if footerMenu | length > 0 %}
                                {{this.render('_footer_navigation.twig', {
                                    items: footerMenu | slice(0, 6),
                                    class: '',
                                }) | raw}}
                            {% endif %}
                            <a href="javascript:;">REAL ESTATE</a>
                            <a href="javascript:;">Sports</a>
                            <a href="javascript:;">EVENTS</a>
                            <a href="javascript:;">REAL ESTATE</a>
                            <a href="javascript:;">Sports</a>
                            <a href="javascript:;">EVENTS</a>

                        </div>
                        <div class="col-12 col-md-4 c-footer__navigation u-border-left">
                            <a href="javascript:;">REAL ESTATE</a>
                            <a href="javascript:;">Sports</a>
                            <a href="javascript:;">EVENTS</a>
                            <a href="javascript:;">REAL ESTATE</a>
                            <a href="javascript:;">Sports</a>
                            <a href="javascript:;">EVENTS</a>
                        </div>
                        <div class="col-12 col-md-4 c-footer__navigation u-border-left">
                            <a href="javascript:;">REAL ESTATE</a>
                            <a href="javascript:;">Sports</a>
                            <a href="javascript:;">EVENTS</a>
                            <a href="javascript:;">REAL ESTATE</a>
                            <a href="javascript:;">Sports</a>
                            <a href="javascript:;">EVENTS</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="c-footer__bottom">
            <div class="c-footer__copyright">&copy; Sunraysia 2019. Powered by AAP Publish</div>
            <div class="c-footer__links">
                <a href="javascript:;" class="c-footer__link">Terms &amp; Conditions</a>
                <a href="javascript:;" class="c-footer__link">Privacy</a>
                <a href="javascript:;" class="c-footer__link">Disclaimer</a>
            
            </div>
        </div>
    </div>
</footer>
